 /*overall style*/
*{
    margin: 0px;
    font-family: Lato;
}
.button{
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.button:hover{
    background-color: #933449;
}

 



/*header section starts*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
}


/*navigation section starts*/
.navbar{
    background-color: rgba(229, 84, 115, 0.156);
    border: 1px solid rgba(229, 84, 115, 0.201);
    box-shadow: 0px 0px 5px  rgba(229, 84, 115, 0.201);
    display: flex;
}
.navicon{
    font-size: 40px;
    color: #FFF;
    padding: 10px 380px 10px 50px;
}
.navicon span{
    color: #E55473;
}
.navlist{
    display: flex;
    list-style: none;
    font-size: 23px;
    align-items: center;
}
.navlist > li{
    padding: 10px 10px 10px 60px;
}
.navlist> li > a{
    text-decoration: none;
    color: #111010;
}
.navlist a:hover{
    text-decoration: underline;
}
.navlist .flower-menu{
    display: none;
}
.navlist li:hover .flower-menu{
    margin-top: 10px;
    display: block;
    position: absolute;
    background-color:#FFF;
    list-style: none;
    border-radius: 20px;
    padding: 10px;
}
.flower-menu a{
    font-size: 18px;
    text-decoration: none;
    color: #1110108c;
}
.navbutton{
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 10px 33px;
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
}
.navbutton:hover{
    background-color: #933449;
}
/*navigation section ends*/


/*banner section starts*/
.banner{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    padding-top: 20px;
}
.banner-head{
    color: #272727;
    font-weight: 800;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 32px;
}
.banner-para{
    color: rgba(39, 39, 39, 0.60);   
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}
/*banner section ends*/

/*header section ends*/

  



/*main section starts*/

/*featured section starts*/
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
}
.featured-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 40px;
}
.featured-img{
    display: flex;
    text-align: center;
    justify-content: center;
}
.figure{
    padding: 12px;
}
.figure-img1{
    padding: 84px 50px 0px 52px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 20px;
}
.figure-img2{
    padding: 98px 21px 44px 21px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}
.figure-img3{
    padding: 41px 49px 0px 49px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 20px;
}
.figure a{
    color: #272727;
    font-size: 24px;
}
/*featured section ends*/


/*support section starts*/
.support-section{
    margin: 100px 170px 100px 170px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
} 
.sup-fig{
    padding: 70px;
}
.support-img{
    padding-bottom: 13px;
}
/*support section ends*/


/*deal section starts*/
.deal-section{
    background: rgba(229, 84, 115, 0.05);
}
.deal{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.deal-sale{
    padding-right: 200px;
    padding-left: 200px;
}
.deal-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 25px;
}
.deal-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
}
/*deal section ends*/


/*instagram section starts*/
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
}
.insta-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 40px;
}
.insta-img{
    text-align: center;
}
.insta-img img{
    padding: 20px;
    width: 260px;
    height: 310px;
}
/*instagram section ends*/


/*subscribe section starts*/
.subscribe{
    margin: 100px 150px 100px 150px;
    text-align: center;
    border-radius: 8px;
    background: url("../Flower Asset/Rectangle\ 9.png");
    background-size: cover;
} 
.subs-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
}
.subs-para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 40px;
}
.subs-input{
    padding-bottom: 80px;
}
.subs-input input{
    border-radius: 8px;
    background: #FFF;
    padding: 22px;
    border: 0px;
    width: 700px; 
    outline-color:#e86783;   
}
/*subscribe section ends*/




/*footer section starts*/
.footer{
    background: #111010;
    text-align: center;
}
.footer h1{
    color: white;
    padding-top: 80px;
    font-size: 48px;
}
.footer h1 span{
    color: #E55473;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    padding-top: 24px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 80px;
}
/*footer section ends*/