 *{
    margin: 0px;
    font-family: Lato;
 }
 .button{
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}



/*header section*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    padding-top: 40px;
    

}
.banner-head{
    color: #272727;
    font-weight: 800;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 32px;
}

.banner-para{
    color: rgba(39, 39, 39, 0.60);   
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

/*main section*/
/*featured section*/

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;

}
.featured-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 40px;
}
.featured-img{
    display: flex;
    text-align: center;
    justify-content: center;
}
.figure{
    padding: 12px;
}
.figure-img1{
    padding: 104px 60px 0px 62px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 20px;
}
.figure-img2{
    padding: 113px 31px 49px 31px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-bottom: 20px;
}
.figure-img3{
    padding: 61px 59px 0px 59px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-bottom: 20px;
}
.figure a{
    color: #272727;
    font-size: 24px;
}
/*support section*/
.support-section{
    margin: 100px 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
} 
.sup-fig{
    padding: 70px;
}
.support-img{
    padding-bottom: 13px;
}

